@using Lesson1.Model

@model Person

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <h1 class="display-4">@Model.Surname</h1>
    <h1 class="display-4">@Model.Age</h1>
</div>
